.main-section {
    background-color: #5d54c3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1em;
}

.form {
    height: 550px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
    justify-content: center;
}

#studentClass {
    background-color: #d8d7fe;
    color: #5d54c3;
    font-size: 16px;
    font-weight: 500;
    margin-top: 0.5em;
    text-align: center;
    border-radius: 5px;
}

option {
    background-color: #d8d7fe;
    font-size: 16px;
    font-weight: 500;
    color: #5d54c3;
}

.form * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.form h3 {
    font-size: 30px;
    font-weight: 500;
    line-height: 35px;
    text-align: center;
}

.label {
    display: block;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
}

.input {
    display: block;
    height: 50px;
    width: 95%;
    background-color: #d8d7fe;
    /*color:#5d54c3;*/
    color: black;
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px;
}

.errors-student {
    width: 250px;
    border-radius: 4px;
    text-align: center;
    font-weight: 500;
    font-size: 13px;
    background-color: #d8d7fe;
    color: red;
    margin: 0 auto;
}

::placeholder {
    color: #362bb7;
}

.submit-btn {
    margin-top: 1.5em;
    width: 95%;
    background-color: #d8d7fe;
    color: #5d54c3;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #5d54c3;
    color: #d8d7fe;
}
