.main-section-schools {
    padding: 5em;
    display: flex;
    background-color: #5d54c3;
    justify-content: center;
    min-height: 600px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.all-schools h2 {
    font-weight: 700;
    margin-bottom: 1em;
    margin-top: 1.5em;
    color: #5d54c3;
}

.all-schools {
    width: 70%;
    padding: 2em;
    background-color: #d8d7fe;
    text-align: center;
    border-radius: 1em;
    box-shadow: -4px -3px 45px 21px rgba(0, 0, 0, 0.35);
}

.all-schools ul {
    list-style: none;
    color: #5d54c3;
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1em;
    border-bottom: 2px solid #5d54c3;
}

.all-schools li {
    margin-top: 1em;
    font-weight: 600;
    text-align: center;
    justify-content: center;
}

.className {
    text-decoration: none;
    font-size: 20px;
    padding: 0.2em 2em;
    color: #5d54c3;
    border: 0.5px solid #5d54c3;
    border-radius: 5px;
}

.className:hover {
    color: #d8d7fe;
    background-color: #5d54c3;
    border-radius: 5px;
}

.edit {
    color: #d8d7fe;
    background-color: #5d54c3;
    border-radius: 5px;
    padding: 0.5em 1em;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #5d54c3;
}

.delete {
    color: #d8d7fe;
    background-color: #5d54c3;
    border-radius: 5px;
    padding: 0.5em 1em;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    border-color: #5d54c3;
}

form {
    justify-content: center;
}

.edit:hover {
    color: #5d54c3;
    background-color: #d8d7fe;
}

.delete:hover {
    color: #5d54c3;
    background-color: #d8d7fe;
    border-color: #d8d7fe;
}