.main-section-wrap {
    padding: 5em;
    background-color: #5d54c3;
}

.main-section {
    background-image: url(../images/33.jpg);
    opacity: 0.7;
    padding: 15em;
    border-style: none;
    border-radius: 30px;
    text-align: center;
    min-height: 450px;
    justify-content: center;
}

.main-section h3 {
    font-size: 40px;
    color: #5d54c3;
    margin-left: 6em;
    margin-bottom: 1em;
}

.main-section p {
    font-size: large;
    font-weight: 700;
    background: linear-gradient(to right, white 51.16%, #5d54c3 48.84%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0.5em;
}

.main-section a {
    color: #5d54c3;
}