.main-section-classes{
    padding: 5em;
    display: flex;
    flex-direction: row;
    gap: 3em;
    min-height: 600px;
    background-color: #5d54c3;
}

.my-classes h2{
    font-weight: 700;
    margin-bottom: 1em;
    margin-top: 1.5em;
    color: #5d54c3;
}

.delete{
    background-color: #be3636;
}

.my-classes{
    width: 20%;
    background-color: #d8d7fe;
    text-align: center;
    border-radius: 1em;
    box-shadow: -4px -3px 45px 21px rgba(0,0,0,0.35);
}

.my-classes ul{
    list-style: none;
    color: #5d54c3;
    margin-bottom: 1.5em;
}

.my-classes li{
    margin-top: 1em;
    font-weight: 600;
    text-align: center;
}

.my-classes li a{
    text-decoration: none;
    padding:0.2em 8em;
    color: #5d54c3;
}

.my-classes li a:hover{
    color: #d8d7fe;
    background-color: #5d54c3;
}


.classes-table{
    width: 80%;
    background-color: #d8d7fe;
    border-radius:1em;
    box-shadow: -4px -3px 45px 21px rgba(0,0,0,0.35);
    padding-bottom: 2em;
}

.classes-table h2{
    font-weight: 700;
    margin-bottom: 1em;
    margin-top: 1.5em;
    color: #5d54c3;
    text-align: center;
}

.classes-table table{
    border: 3px solid #5d54c3;
    margin: 0 auto;
    border-collapse: collapse;
    width: 90%;
}

.classes-table thead th{
    padding: 0.5em;
    font-weight: 400;
    color: #5d54c3;
    text-align: center;
    border-bottom: 2px solid #5d54c3;
    border-right: 2px solid #5d54c3;
}

td>input{
    border: 1px solid #5d54c3;
}

td button{
    color:#d8d7fe;
    background-color: #5d54c3;
    border-radius: 5px;
    padding: 0.5em 1em;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    border-color: #5d54c3;
}

td button:hover{
    color: #5d54c3;
    background-color: #d8d7fe;
}

.classes-table tbody td{
    padding: 0.5em;
    border-bottom: 2px solid #5d54c3;
    border-right: 2px solid #5d54c3;
    color: #5d54c3;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.classes-table tbody td input{
    width: 98%;
    background-color: #d8d7fe;
    outline: none;
    font-weight: 400;
    color: #5d54c3;
    text-align: left;
}
