.main-section-wrap{
    padding: 5em;
    background-color: #5d54c3;
}

.main-section{
    background-image: url(../images/33.jpg);
    opacity: 0.7;
    padding:15em;
    border-style: none;
    border-radius: 30px;
    text-align: center;
    min-height: 450px;
    justify-content: center;
}

.main-section h3{
    font-size:40px;
}

.main-section p{
    font-size: large;
    font-weight: 500;
}

.main-section a{
    color: #5d54c3;
}