<head>
    <title>Add class</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/fragments.css}">

    <link rel="stylesheet" th:href="@{/css/add-class.css}">
</head>

<div>
    <header xmlns:sec="http://www.w3.org/1999/xhtml">
        <a sec:authorize="!isAuthenticated()" th:href="@{/}"><img src="/images/pe%20scores-final.png"
                                                                  alt="pe scores logo"/></a>
        <a sec:authorize="isAuthenticated()" th:href="@{/classes}"><img src="/images/pe%20scores-final.png"
                                                                        alt="pe scores logo"/></a>

        <nav class="navbar">
            <ul class="navbar-buttons" sec:authorize="!isAuthenticated()">
                <a th:href="@{/users/login}">Log in</a>
                <a th:href="@{/users/register}">Sign up</a>
            </ul>

            <ul class="navbar-buttons" sec:authorize="isAuthenticated()">
                <a sec:authorize="hasAnyAuthority('ROLE_USER')" th:href="@{/denseBall}">Dense ball</a>
                <a sec:authorize="hasAnyAuthority('ROLE_USER')" th:href="@{/jump}">Jump</a>
                <a sec:authorize="hasAnyAuthority('ROLE_USER')" th:href="@{/tTest}">T-test</a>
                <a sec:authorize="hasAnyAuthority('ROLE_USER')" th:href="@{/thirty}">30 meters</a>
                <a sec:authorize="hasAnyAuthority('ROLE_USER')" th:href="@{/twoHundred}">200 meters</a>
                <a sec:authorize="hasAnyAuthority('ROLE_ADMIN')" th:href="@{/classes}">Classes</a>
<!--               TODO: SMTH LIKE OWN CLASSES OR WHAT-->
<!--                <a sec:authorize="hasAnyAuthority('ROLE_USER')" th:href="@{/classes}">Classes</a>-->
                <a th:href="@{/tasks}">Tasks</a>
                <a sec:authorize="hasAnyAuthority('ROLE_ADMIN')" th:href="@{/classes/add}">Add class</a>
                <a sec:authorize="hasAnyAuthority('ROLE_ADMIN')" th:href="@{/students/add}">Add student</a>
                <a>
                    <form class="logout" th:method="post" th:action="@{/users/logout}">
                        <input class="dropdown-item btn-link nav-link" type="submit" value="Logout">
                    </form>
                </a>
            </ul>
        </nav>
    </header>
</div>


<body>

<section class="main-section">

    <form class="form"
          th:method="POST"
          th:action="@{/classes/add}"
          th:object="${classAddDto}">

        <h3>Add class</h3>

        <label for="clasName" class="label">Class name</label>
        <input type="text"
               name="className"
               th:errorclass="is-invalid"
               th:field="*{className}"
               placeholder="Ex: 7A"
               id="clasName"
               class="input">
        <div class="invalid-feedback errors-class alert-danger"
             th:each="err :${#fields.errors('className')}"
             th:text="${err}"></div>

        <label for="classNum">Grade Number</label>
        <input type="number"
               id="classNum"
               name="classNum"
               class="input"
               th:errorclass="is-invalid"
               th:field="*{classNum}"
               min="5"
               max="12"
               step="1">
        <div class="invalid-feedback errors-class alert-danger"
             th:each="err :${#fields.errors('classNum')}"
             th:text="${err}"></div>

        <button class="submit-btn">Submit</button>
    </form>

</section>

<footer>
    <p>&copy; 2024 Copyright: PE Scores</p>
</footer>
</body>