<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
  <title>Register</title>
  <th:block th:insert="~{/fragments/head}"></th:block>
  <link rel="stylesheet" th:href="@{/css/register.css}">
</head>
<body>

<div>
  <th:block th:insert="~{/fragments/header}"></th:block>
</div>

<section class="main-section">

  <form class="form"
        th:method="POST"
        th:action="@{/register}"
        th:object="${registerDto}"
  >
    <h3>Sign up</h3>
    <div class="row-form">
      <div class="element">
        <label for="firstname" class="label">First name</label>
        <input type="text"
               name="firstName"
               th:field="*{firstName}"
               placeholder="First name"
               id="firstname"
               class="input"/>
      </div>
      <div class="element">
        <label for="lastname" class="label">Last name</label>
        <input type="text" placeholder="Last name"
               th:field="*{lastName}"
               id="lastname" class="input"/>
      </div>
    </div>
    <div class="row-form">
      <div class="element">
        <label for="email" class="label">Email</label>
        <input
                type="text" placeholder="Email"
                th:field="*{email}"
                id="email" class="input"/>
      </div>
      <div class="element">
        <label for="school" class="label">School</label>
        <input
                type="text" placeholder="School"
                th:field="*{school}"
                id="school" class="input"/>
      </div>
    </div>
    <div class="row-form">
      <div class="element">
        <label for="password" class="label">Password</label>
        <input
                type="password" placeholder="Password"
                th:field="*{password}"
                id="password" class="input"/>
      </div>
      <div class="element">
        <label for="confirmpassword" class="label">Confirm Password</label>
        <input
                type="password"
                th:field="*{confirmPassword}"
                placeholder="Confirm password" id="confirmpassword" class="input"/>
      </div>
    </div>
    <button  type="submit" class="register-btn">Sign up</button>


  </form>

</section>

<th:block th:insert="~{/fragments/footer}"></th:block>

</body>

</html>





