<head>
  <title>Contact</title>
  <th:block th:insert="~{/fragments/head}"></th:block>
  <link rel="stylesheet" th:href="@{/css/contact.css}">
</head>
<body>

<div>
  <th:block th:insert="~{/fragments/header}"></th:block>
</div>


<section class="main-section">

  <form class="form">
    <h3>Contact us</h3>

    <label for="email" class="label">Email</label>
    <input type="email" placeholder="Email or Phone" id="email" class="input"/>

    <label for="message">Your message</label>
    <textarea type="text" id="message" name="message" rows="7" class="form-control-textarea"></textarea>

    <button class="submit-btn">Submit</button>
  </form>

</section>

<th:block th:insert="~{/fragments/footer}"></th:block>
</body>
