<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Error</title>
<!--    <th:block th:insert="~{/fragments/head}"></th:block>-->

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/fragments.css}">

    <link rel="stylesheet" th:href="@{/css/error.css}">
</head>
<body>
<section class="main-section-error">
    <div class="main-text">
        <h3>Hey, captain! Looks like you're heading to a wrong planet</h3>
        <a th:href="@{/users/logout}" type="submit">Take me back to the homepage</a>
    </div>
</section>

</body>