<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/fragments.css}">

    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>

<div>
    <header xmlns:sec="http://www.w3.org/1999/xhtml">
        <a sec:authorize="!isAuthenticated()" th:href="@{/}"><img src="/images/pe%20scores-final.png" alt="pe scores logo"/></a>
        <a sec:authorize="isAuthenticated()" th:href="@{/classes}"><img src="/images/pe%20scores-final.png"
                                                                        alt="pe scores logo"/></a>

        <nav class="navbar">
            <ul class="navbar-buttons" sec:authorize="!isAuthenticated()">
                <a th:href="@{/contact}">How to add your school?</a>
                <a th:href="@{/users/login}">Log in</a>
                <a th:href="@{/users/register}">Sign up</a>
            </ul>

            <ul class="navbar-buttons" sec:authorize="isAuthenticated()">
                <a th:href="@{/denseBall}">Dense ball</a>
                <a th:href="@{/jump}">Jump</a>
                <a th:href="@{/tTest}">T-test</a>
                <a th:href="@{/thirty}">30 meters</a>
                <a th:href="@{/twoHundred}">200 meters</a>
                <a th:href="@{/classes}">Classes</a>
                <a th:href="@{/tasks}">Tasks</a>
                <a th:href="@{/classes/add}">Add class</a>
                <a th:href="@{/students/add}">Add student</a>
                <a>
                    <form class="logout" th:method="post" th:action="@{/users/logout}">
                        <input class="dropdown-item btn-link nav-link" type="submit" value="Logout">
                    </form>
                </a>
            </ul>
        </nav>
    </header>
</div>

<section class="main-section">
    <form class="form"
          th:method="POST"
          th:action="@{/users/login}"
          th:object="${userLoginDto}">
        <h3>Login</h3>

        <label for="email" class="label">Email</label>
        <input type="text" placeholder="Email" id="email"
               th:field="*{email}"
               name="email"
               class="input"/>

        <label for="password" class="label">Password</label>
        <input type="password" placeholder="Password"
               name="password"
               id="password" class="input"/>

        <div class="form-group mt-1">
            <div class="label-holder text-white d-flex justify-content-start">
                <p th:if="${bad_credentials}" class="errors alert-danger errors-login">Invalid username or password.</p>
            </div>
        </div>

        <button class="login-btn">Log In</button>

    </form>

</section>


<footer>
    <p>&copy; 2024 Copyright: PE Scores</p>
</footer>
</body>



