<head>
  <title>Login</title>
  <th:block th:insert="~{/fragments/head}"></th:block>
  <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>

<div>
  <th:block th:insert="~{/fragments/header}"></th:block>
</div>


<section class="main-section">
  <form class="form">
    <h3>Login</h3>

    <label for="username" class="label">Username</label>
    <input type="text" placeholder="Email or Phone" id="username" class="input"/>

    <label for="password" class="label">Password</label>
    <input type="password" placeholder="Password" id="password" class="input"/>

    <input type="checkbox" class="remember" value="lsRememberMe" id="rememberMe"/>
    <label for="rememberMe" class="remember-label">Remember me</label>

    <button class="login-btn">Log In</button>
  </form>
</section>

<th:block th:insert="~{/fragments/footer}"></th:block>
</body>



