<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{title_register}">Register</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/fragments.css}">

    <link rel="stylesheet" th:href="@{/css/register.css}">
</head>
<body>

<div>
    <header xmlns:sec="http://www.w3.org/1999/xhtml">
        <a sec:authorize="!isAuthenticated()" th:href="@{/}"><img src="/images/pe%20scores-final.png" alt="pe scores logo"/></a>
        <a sec:authorize="isAuthenticated()" th:href="@{/classes}"><img src="/images/pe%20scores-final.png"
                                                                        alt="pe scores logo"/></a>

        <nav class="navbar">
            <ul class="navbar-buttons" sec:authorize="!isAuthenticated()">
                <a th:href="@{/contact}" th:text="#{navbar_add_school}">How to add your school?</a>
                <a th:href="@{/users/login}" th:text="#{navbar_login}">Log in</a>
                <a th:href="@{/users/register}" th:text="#{navbar_register}">Register</a>
                <a class="nav-item">
                    <form th:method="get">
                        <label class="text-white" th:text="#{navbar_language}" for="lang"></label>
                        <select
                                onchange="this.form.submit()"
                                id="lang"
                                name="lang">
                            <option value="en_US" th:selected="${#locale.toString()} == 'en_US'">English</option>
                            <option value="bg_BG" th:selected="${#locale.toString()} == 'bg_BG'">Български</option>
                        </select>
                    </form>
                </a>
            </ul>

            <ul class="navbar-buttons" sec:authorize="isAuthenticated()">
                <a sec:authorize="!hasAnyAuthority('ROLE_ADMIN','ROLE_SUPERADMIN')" th:href="@{/denseBall}" th:text="#{navbar_dense_ball}">Dense ball</a>
                <a sec:authorize="!hasAnyAuthority('ROLE_ADMIN','ROLE_SUPERADMIN')" th:href="@{/jump}" th:text="#{navbar_jump}">Jump</a>
                <a sec:authorize="!hasAnyAuthority('ROLE_ADMIN','ROLE_SUPERADMIN')" th:href="@{/tTest}" th:text="#{navbar_t_test}">T-test</a>
                <a sec:authorize="!hasAnyAuthority('ROLE_ADMIN','ROLE_SUPERADMIN')" th:href="@{/thirty}" th:text="#{navbar_30_meters}">30 meters</a>
                <a sec:authorize="!hasAnyAuthority('ROLE_ADMIN','ROLE_SUPERADMIN')" th:href="@{/twoHundred}" th:text="#{navbar_200_meters}">200 meters</a>
                <a sec:authorize="hasAnyAuthority('ROLE_SUPERADMIN')" th:href="@{/schools/add}" th:text="#{navbar_addschool}">Add school</a>
                <a sec:authorize="hasAnyAuthority('ROLE_SUPERADMIN')" th:href="@{/schools/all}" th:text="#{navbar_schools}">Schools</a>
                <a sec:authorize="!hasAnyAuthority('ROLE_SUPERADMIN')" th:href="@{/classes}" th:text="#{navbar_classes}">Classes</a>
                <a sec:authorize="!hasAnyAuthority('ROLE_SUPERADMIN')" th:href="@{/classes/add}" th:text="#{navbar_add_class}">Add class</a>
                <a sec:authorize="!hasAnyAuthority('ROLE_SUPERADMIN')" th:href="@{/students/add}" th:text="#{navbar_add_student}">Add student</a>
                <a th:href="@{/tasks}">Tasks</a>
                <a>
                    <form class="logout" th:method="post" th:action="@{/users/logout}" th:text="#{navbar_logout}">
                        <input class="dropdown-item btn-link nav-link" type="submit" value="Logout">
                    </form>
                </a>
            </ul>
        </nav>
    </header>
</div>

<section class="main-section">

    <form class="form"
          th:method="POST"
          th:action="@{/users/register}"
          th:object="${registerDto}">

        <h3 th:text="#{signup_signup}">Register</h3>

        <div class="row-form">
            <div class="element">

                <label for="firstname" class="label" th:text="#{signup_first_name}">First name</label>
                <input type="text"
                       name="firstName"
                       th:errorclass="is-invalid"
                       th:field="*{firstName}"
                       th:placeholder="#{signup_first_name}"
                       id="firstname"
                       class="input"/>
                <div class="invalid-feedback errors-register alert-danger"
                     th:each="err :${#fields.errors('firstName')}" th:text="#{err_name}"/>
            </div>

            <div class="element">
                <label for="lastname" class="label" th:text="#{signup_last_name}">Last name</label>
                <input type="text"th:placeholder="#{signup_last_name}"
                       th:field="*{lastName}"
                       th:errorclass="is-invalid"
                       id="lastname" class="input"/>
                <div class="invalid-feedback errors-register alert-danger"
                     th:each="err :${#fields.errors('lastName')}"
                     th:text="#{err_name}"/>
            </div>

        </div>

        <div class="row-form">

            <div class="element">
                <label for="email" class="label" th:text="#{signup_email}">Email</label>
                <input
                        type="text" th:placeholder="#{signup_email}"
                        th:field="*{email}"
                        th:errorclass="is-invalid"
                        id="email" class="input"/>
                <div class="invalid-feedback errors-register alert-danger"
                     th:each="err :${#fields.errors('email')}"
                     th:text="#{err_email}"/>
            </div>

            <div class="element">
                <label for="school" class="label" th:text="#{signup_school}">School</label>
                <select id="school"
                        th:field="*{school}"
                        th:errorclass="is-invalid"
                        class="input">
                    <option th:each="sch: ${schools}"
                            th:text="${sch.schoolName}"
                            th:value="${sch.schoolName}">7a
                    </option>
                </select>
                <div class="invalid-feedback errors-register alert-danger"
                     th:each="err :${#fields.errors('school')}"
                     th:text="#{err_school}"/>
            </div>

        </div>

        <div class="row-form">

            <div class="element">

                <label for="password" class="label" th:text="#{signup_pass}">Password</label>
                <input
                        type="password" th:placeholder="#{signup_pass}"
                        th:field="*{password}"
                        th:errorclass="is-invalid"
                        id="password" class="input"/>
                <div class="invalid-feedback errors-register alert-danger"
                     th:each="err :${#fields.errors('password')}"
                     th:text="#{err_pass}"/>
            </div>

            <div class="element">
                <label for="confirmpassword" class="label" th:text="#{signup_confirm_pass}">Confirm Password</label>
                <input
                        type="password"
                        th:field="*{confirmPassword}"
                        th:errorclass="is-invalid"
                        th:placeholder="#{signup_confirm_pass}" id="confirmpassword" class="input"/>
                <div class="invalid-feedback errors-register alert-danger"
                     th:each="err :${#fields.errors('confirmPassword')}"
                     th:text="#{err_confirm_pass}"/>
            </div>
        </div>
        <button type="submit" class="register-btn" th:text="#{signup_signup}">Sign up</button>

    </form>

</section>

<footer>
    <p>&copy; 2024 Copyright: PE Scores</p>
</footer>

</body>

</html>





