<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Register</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/fragments.css}">

    <link rel="stylesheet" th:href="@{/css/register.css}">
</head>
<body>

<div>
    <header xmlns:sec="http://www.w3.org/1999/xhtml">
        <a sec:authorize="!isAuthenticated()" th:href="@{/}"><img src="/images/pe%20scores-final.png" alt="pe scores logo"/></a>
        <a sec:authorize="isAuthenticated()" th:href="@{/classes}"><img src="/images/pe%20scores-final.png"
                                                                        alt="pe scores logo"/></a>

        <nav class="navbar">
            <ul class="navbar-buttons" sec:authorize="!isAuthenticated()">
                <a th:href="@{/contact}">How to add your school?</a>
                <a th:href="@{/users/login}">Log in</a>
                <a th:href="@{/users/register}">Sign up</a>
            </ul>

            <ul class="navbar-buttons" sec:authorize="isAuthenticated()">
                <a sec:authorize="!hasAnyAuthority('ROLE_ADMIN','ROLE_SUPERADMIN')" th:href="@{/denseBall}">Dense ball</a>
                <a sec:authorize="!hasAnyAuthority('ROLE_ADMIN','ROLE_SUPERADMIN')" th:href="@{/jump}">Jump</a>
                <a sec:authorize="!hasAnyAuthority('ROLE_ADMIN','ROLE_SUPERADMIN')" th:href="@{/tTest}">T-test</a>
                <a sec:authorize="!hasAnyAuthority('ROLE_ADMIN','ROLE_SUPERADMIN')" th:href="@{/thirty}">30 meters</a>
                <a sec:authorize="!hasAnyAuthority('ROLE_ADMIN','ROLE_SUPERADMIN')" th:href="@{/twoHundred}">200 meters</a>
                <a sec:authorize="hasAnyAuthority('ROLE_SUPERADMIN')" th:href="@{/schools/add}">Add school</a>
                <a sec:authorize="hasAnyAuthority('ROLE_SUPERADMIN')" th:href="@{/schools/all}">Schools</a>
                <a sec:authorize="!hasAnyAuthority('ROLE_SUPERADMIN')" th:href="@{/classes}">Classes</a>
                <a sec:authorize="!hasAnyAuthority('ROLE_SUPERADMIN')" th:href="@{/classes/add}">Add class</a>
                <a sec:authorize="!hasAnyAuthority('ROLE_SUPERADMIN')" th:href="@{/students/add}">Add student</a>
                <a th:href="@{/tasks}">Tasks</a>
                <a>
                    <form class="logout" th:method="post" th:action="@{/users/logout}">
                        <input class="dropdown-item btn-link nav-link" type="submit" value="Logout">
                    </form>
                </a>
            </ul>
        </nav>
    </header>
</div>

<section class="main-section">

    <form class="form"
          th:method="POST"
          th:action="@{/users/register}"
          th:object="${registerDto}">

        <h3>Sign up</h3>

        <div class="row-form">
            <div class="element">

                <label for="firstname" class="label">First name</label>
                <input type="text"
                       name="firstName"
                       th:errorclass="is-invalid"
                       th:field="*{firstName}"
                       placeholder="First name"
                       id="firstname"
                       class="input"/>
                <div class="invalid-feedback errors-register alert-danger"
                     th:each="err :${#fields.errors('firstName')}"
                     th:text="${err}"/>
            </div>

            <div class="element">
                <label for="lastname" class="label">Last name</label>
                <input type="text" placeholder="Last name"
                       th:field="*{lastName}"
                       th:errorclass="is-invalid"
                       id="lastname" class="input"/>
                <div class="invalid-feedback errors-register alert-danger"
                     th:each="err :${#fields.errors('lastName')}"
                     th:text="${err}"/>
            </div>

        </div>

        <div class="row-form">

            <div class="element">
                <label for="email" class="label">Email</label>
                <input
                        type="text" placeholder="Email"
                        th:field="*{email}"
                        th:errorclass="is-invalid"
                        id="email" class="input"/>
                <div class="invalid-feedback errors-register alert-danger"
                     th:each="err :${#fields.errors('email')}"
                     th:text="${err}"/>
            </div>

            <div class="element">
                <label for="school" class="label">School</label>
                <select id="school"
                        th:field="*{school}"
                        th:errorclass="is-invalid"
                        class="input">
                    <option th:each="sch: ${schools}"
                            th:text="${sch.schoolName}"
                            th:value="${sch.schoolName}">7a
                    </option>
                </select>
                <div class="invalid-feedback errors-register alert-danger"
                     th:each="err :${#fields.errors('school')}"
                     th:text="${err}"/>
            </div>

        </div>

        <div class="row-form">

            <div class="element">

                <label for="password" class="label">Password</label>
                <input
                        type="password" placeholder="Password"
                        th:field="*{password}"
                        th:errorclass="is-invalid"
                        id="password" class="input"/>
                <div class="invalid-feedback errors-register alert-danger"
                     th:each="err :${#fields.errors('password')}"
                     th:text="${err}"/>
            </div>

            <div class="element">
                <label for="confirmpassword" class="label">Confirm Password</label>
                <input
                        type="password"
                        th:field="*{confirmPassword}"
                        th:errorclass="is-invalid"
                        placeholder="Confirm password" id="confirmpassword" class="input"/>
                <div class="invalid-feedback errors-register alert-danger"
                     th:each="err :${#fields.errors('confirmPassword')}"
                     th:text="${err}"/>
            </div>
        </div>
        <button type="submit" class="register-btn">Sign up</button>

    </form>

</section>

<footer>
    <p>&copy; 2024 Copyright: PE Scores</p>
</footer>

</body>

</html>





