<head>
    <title>Add student</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/fragments.css}">

    <link rel="stylesheet" th:href="@{/css/add-student.css}">
</head>

<div>
    <header xmlns:sec="http://www.w3.org/1999/xhtml">
        <a sec:authorize="!isAuthenticated()" th:href="@{/}"><img src="/images/pe%20scores-final.png" alt="pe scores logo"/></a>
        <a sec:authorize="isAuthenticated()" th:href="@{/classes}"><img src="/images/pe%20scores-final.png"
                                                                        alt="pe scores logo"/></a>

        <nav class="navbar">
            <ul class="navbar-buttons" sec:authorize="!isAuthenticated()">
                <a th:href="@{/contact}" th:text="#{navbar_add_school}">How to add your school?</a>
                <a th:href="@{/users/login}" th:text="#{navbar_login}">Log in</a>
                <a th:href="@{/users/register}" th:text="#{navbar_register}">Register</a>
            </ul>

            <ul class="navbar-buttons" sec:authorize="isAuthenticated()">
                <a sec:authorize="!hasAnyAuthority('ROLE_ADMIN','ROLE_SUPERADMIN')" th:href="@{/denseBall}" th:text="#{navbar_dense_ball}">Dense ball</a>
                <a sec:authorize="!hasAnyAuthority('ROLE_ADMIN','ROLE_SUPERADMIN')" th:href="@{/jump}" th:text="#{navbar_jump}">Jump</a>
                <a sec:authorize="!hasAnyAuthority('ROLE_ADMIN','ROLE_SUPERADMIN')" th:href="@{/tTest}" th:text="#{navbar_t_test}">T-test</a>
                <a sec:authorize="!hasAnyAuthority('ROLE_ADMIN','ROLE_SUPERADMIN')" th:href="@{/thirty}" th:text="#{navbar_30_meters}">30 meters</a>
                <a sec:authorize="!hasAnyAuthority('ROLE_ADMIN','ROLE_SUPERADMIN')" th:href="@{/twoHundred}" th:text="#{navbar_200_meters}">200 meters</a>
                <a sec:authorize="hasAnyAuthority('ROLE_SUPERADMIN')" th:href="@{/schools/add}" th:text="#{navbar_addschool}">Add school</a>
                <a sec:authorize="hasAnyAuthority('ROLE_SUPERADMIN')" th:href="@{/schools/all}" th:text="#{navbar_schools}">Schools</a>
                <a sec:authorize="!hasAnyAuthority('ROLE_SUPERADMIN')" th:href="@{/classes}" th:text="#{navbar_classes}">Classes</a>
                <a sec:authorize="!hasAnyAuthority('ROLE_SUPERADMIN')" th:href="@{/classes/add}" th:text="#{navbar_add_class}">Add class</a>
                <a sec:authorize="!hasAnyAuthority('ROLE_SUPERADMIN')" th:href="@{/students/add}" th:text="#{navbar_add_student}">Add student</a>
                <a th:href="@{/tasks}" th:text="#{navbar_tasks}">Tasks</a>
                <a>
                    <form class="logout" th:method="post" th:action="@{/users/logout}">
                        <input class="dropdown-item btn-link nav-link" type="submit" th:value="#{navbar_logout}">
                    </form>
                </a>
                <a class="nav-item">
                    <form th:method="get">
                        <label class="text-white" th:text="#{navbar_language}" for="lang"></label>
                        <select
                                onchange="this.form.submit()"
                                id="lang"
                                name="lang">
                            <option value="en_US" th:selected="${#locale.toString()} == 'en_US'">English</option>
                            <option value="bg_BG" th:selected="${#locale.toString()} == 'bg_BG'">Български</option>
                        </select>
                    </form>
                </a>
            </ul>
        </nav>
    </header>
</div>

<body>

<section class="main-section">

    <form class="form"
          th:method="POST"
          th:action="@{/students/add}"
          th:object="${studentAddDto}">

        <h3>Add student</h3>

        <label for="studentName" class="label">Student name</label>
        <input type="text"
               name="studentName"
               th:errorclass="is-invalid"
               th:field="*{studentName}"
               placeholder="Ex: Aleksandur"
               id="studentName"
               class="input">
        <div class="invalid-feedback errors-student alert-danger"
             th:each="err :${#fields.errors('studentName')}"
             th:text="${err}"></div>

        <label for="studentNumber" class="label">Number in class</label>
        <input type="number"
               name="studentNumber"
               th:errorclass="is-invalid"
               th:field="*{studentNumber}"
               id="studentNumber"
               class="input"
               min="1"
               max="35"
               step="1">
        <div class="invalid-feedback errors-student alert-danger"
             th:each="err :${#fields.errors('studentNumber')}"
             th:text="${err}"></div>
        <div class="invalid-feedback errors-student alert-danger"
             th:if="${isUnique} == false">student number must be unique
        </div>

        <label for="gender" class="label">Label</label>
        <select id="gender"
                th:field="*{gender}"
                th:errorclass="is-invalid"
                class="input">
            <option th:each="g:${T(pmgkn.pescores.pescores.domain.enums.GenderEnum).values()}"
                    th:text="${g.name()}"
                    th:value="${g}">male
            </option>
        </select>

        <label for="studentClass" class="label">Student class</label>
        <select id="studentClass"
                th:field="*{studentClass}"
                th:errorclass="is-invalid"
                class="input">
            <option th:each="class: ${classes}"
                    th:text="${class.className}"
                    th:value="${class.className}">7a
            </option>
        </select>
        <div class="invalid-feedback errors-student alert-danger"
             th:each="err :${#fields.errors('studentClass')}"
             th:text="${err}"></div>

        <button class="submit-btn">Submit</button>

    </form>

</section>


<footer>
    <p>&copy; 2024 Copyright: PE Scores</p>
</footer>

</body>