<head>
    <title>Add student</title>
<!--    <th:block th:insert="~{/fragments/head}"></th:block>-->

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/fragments.css}">

    <link rel="stylesheet" th:href="@{/css/add-student.css}">
</head>

<div>
<!--    <th:block th:insert="~{/fragments/header}"></th:block>-->

    <header xmlns:sec="http://www.w3.org/1999/xhtml">
        <a sec:authorize="!isAuthenticated()" th:href="@{/}"><img src="/images/pe%20scores-final.png" alt="pe scores logo"/></a>
        <a sec:authorize="isAuthenticated()" th:href="@{/classes}"><img src="/images/pe%20scores-final.png"
                                                                        alt="pe scores logo"/></a>

        <nav class="navbar">
            <ul class="navbar-buttons" sec:authorize="!isAuthenticated()">
                <a th:href="@{/users/login}">Log in</a>
                <a th:href="@{/users/register}">Sign up</a>
            </ul>

            <ul class="navbar-buttons" sec:authorize="isAuthenticated()">
                <a th:href="@{/denseBall}">Dense ball</a>
                <a th:href="@{/jump}">Jump</a>
                <a th:href="@{/tTest}">T-test</a>
                <a th:href="@{/thirty}">30 meters</a>
                <a th:href="@{/twoHundred}">200 meters</a>
                <a th:href="@{/classes}">Classes</a>
                <a th:href="@{/tasks}">Tasks</a>
                <a th:href="@{/classes/add}">Add class</a>
                <a th:href="@{/students/add}">Add student</a>
                <a>
                    <form class="logout" th:method="post" th:action="@{/users/logout}">
                        <input class="dropdown-item btn-link nav-link" type="submit" value="Logout">
                    </form>
                </a>
            </ul>
        </nav>
    </header>
</div>

<body>

<section class="main-section">

    <form class="form"
          th:method="POST"
          th:action="@{/students/add}"
          th:object="${studentAddDto}">

        <h3>Add student</h3>

        <label for="studentName" class="label">Student name</label>
        <input type="text"
               name="studentName"
               th:errorclass="is-invalid"
               th:field="*{studentName}"
               placeholder="Ex: Aleksandur"
               id="studentName"
               class="input">
        <div class="invalid-feedback errors-student alert-danger"
             th:each="err :${#fields.errors('studentName')}"
             th:text="${err}"></div>

        <label for="studentNumber" class="label">Number in class</label>
        <input type="number"
               name="studentNumber"
               th:errorclass="is-invalid"
               th:field="*{studentNumber}"
               id="studentNumber"
               class="input"
               min="1"
               max="35"
               step="1">
        <div class="invalid-feedback errors-student alert-danger"
             th:each="err :${#fields.errors('studentNumber')}"
             th:text="${err}"></div>
        <div class="invalid-feedback errors-student alert-danger"
             th:if="${isUnique} == false">student number must be unique
        </div>

        <label for="gender" class="label">Label</label>
        <select id="gender"
                th:field="*{gender}"
                th:errorclass="is-invalid"
                class="input">
            <option th:each="g:${T(pmgkn.pescores.pescores.domain.enums.GenderEnum).values()}"
                    th:text="${g.name()}"
                    th:value="${g}">male
            </option>
        </select>

        <label for="studentClass" class="label">Student class</label>
        <select id="studentClass"
                th:field="*{studentClass}"
                th:errorclass="is-invalid"
                class="input">
            <option th:each="class: ${classes}"
                    th:text="${class.className}"
                    th:value="${class.className}">7a
            </option>
        </select>
        <div class="invalid-feedback errors-student alert-danger"
             th:each="err :${#fields.errors('studentClass')}"
             th:text="${err}"></div>

        <button class="submit-btn">Submit</button>

    </form>

</section>


<footer>
    <p>&copy; 2024 Copyright: PE Scores</p>
</footer>
<!--<th:block th:insert="~{/fragments/footer}"></th:block>-->
</body>