<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <title th:text="#{title_tasks}">Tasks</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/fragments.css}">

    <link rel="stylesheet" th:href="@{/css/tasks.css}">
</head>
<body>

<div>
    <header xmlns:sec="http://www.w3.org/1999/xhtml">
        <a sec:authorize="!isAuthenticated()" th:href="@{/}"><img src="/images/pe%20scores-final.png" alt="pe scores logo"/></a>
        <a sec:authorize="isAuthenticated()" th:href="@{/classes}"><img src="/images/pe%20scores-final.png"
                                                                        alt="pe scores logo"/></a>

        <nav class="navbar">
            <ul class="navbar-buttons" sec:authorize="!isAuthenticated()">
                <a th:href="@{/contact}" th:text="#{navbar_add_school}">How to add your school?</a>
                <a th:href="@{/users/login}" th:text="#{navbar_login}">Log in</a>
                <a th:href="@{/users/register}" th:text="#{navbar_register}">Register</a>
                <a class="nav-item">
                    <form th:method="get">
                        <label class="text-white" th:text="#{navbar_language}" for="lang"></label>
                        <select
                                onchange="this.form.submit()"
                                id="lang"
                                name="lang">
                            <option value="en_US" th:selected="${#locale.toString()} == 'en_US'">English</option>
                            <option value="bg_BG" th:selected="${#locale.toString()} == 'bg_BG'">Български</option>
                        </select>
                    </form>
                </a>
            </ul>

            <ul class="navbar-buttons" sec:authorize="isAuthenticated()">
                <a sec:authorize="!hasAnyAuthority('ROLE_ADMIN','ROLE_SUPERADMIN')" th:href="@{/denseBall}" th:text="#{navbar_dense_ball}">Dense ball</a>
                <a sec:authorize="!hasAnyAuthority('ROLE_ADMIN','ROLE_SUPERADMIN')" th:href="@{/jump}" th:text="#{navbar_jump}">Jump</a>
                <a sec:authorize="!hasAnyAuthority('ROLE_ADMIN','ROLE_SUPERADMIN')" th:href="@{/tTest}" th:text="#{navbar_t_test}">T-test</a>
                <a sec:authorize="!hasAnyAuthority('ROLE_ADMIN','ROLE_SUPERADMIN')" th:href="@{/thirty}" th:text="#{navbar_30_meters}">30 meters</a>
                <a sec:authorize="!hasAnyAuthority('ROLE_ADMIN','ROLE_SUPERADMIN')" th:href="@{/twoHundred}" th:text="#{navbar_200_meters}">200 meters</a>
                <a sec:authorize="hasAnyAuthority('ROLE_SUPERADMIN')" th:href="@{/schools/add}" th:text="#{navbar_addschool}">Add school</a>
                <a sec:authorize="hasAnyAuthority('ROLE_SUPERADMIN')" th:href="@{/schools/all}" th:text="#{navbar_schools}">Schools</a>
                <a sec:authorize="!hasAnyAuthority('ROLE_SUPERADMIN')" th:href="@{/classes}" th:text="#{navbar_classes}">Classes</a>
                <a sec:authorize="!hasAnyAuthority('ROLE_SUPERADMIN')" th:href="@{/classes/add}" th:text="#{navbar_add_class}">Add class</a>
                <a sec:authorize="!hasAnyAuthority('ROLE_SUPERADMIN')" th:href="@{/students/add}" th:text="#{navbar_add_student}">Add student</a>
                <a th:href="@{/tasks}">Tasks</a>
                <a>
                    <form class="logout" th:method="post" th:action="@{/users/logout}" th:text="#{navbar_logout}">
                        <input class="dropdown-item btn-link nav-link" type="submit" value="Logout">
                    </form>
                </a>
            </ul>
        </nav>
    </header>

</div>

<div class="sections">

    <section class="notes-main">
        <div class="to-do-list">

            <h2>To Do List</h2>

            <form class="add-todo"
                  th:method="POST"
                  th:action="@{/tasks/save}"
                  th:object="${taskDto}">

                <label for="todo">Add ToDo</label>
                <input type="text" id="todo"
                       th:field="*{description}"
                       th:errorclass="is-invalid"
                       th:name="description">
                <div class="invalid-feedback errors-tasks alert-danger"
                     th:each="err :${#fields.errors('description')}"
                     th:text="${err}"/>

                <label for="dueDate">Due date</label>
                <input type="date" id="dueDate"
                       th:field="*{dueDate}"
                       th:errorclass="is-invalid"
                       th:name="dueDate">
                <div class="invalid-feedback errors-tasks alert-danger"
                     th:each="err :${#fields.errors('dueDate')}"
                     th:text="${err}"/>

                <button id="add-btn" type="submit" onclick="displayTodo()">Add</button>

                <input type="hidden" id="taskId" name="taskId">
            </form>

            <table class="table-notes">
                <tbody class="table-body">
                <tr th:each="task: ${tasks}">
                    <td th:text="*{task.description}">todo text</td>
                    <td th:text="|Finish until  *{task.dueDate}|">10-01-2024</td>
                    <td class="done">
                        <form th:method="PATCH" th:action="@{/tasks/done/(descr=${task.id})}" th:object="${task}">
                            <button type="submit" title="Done">
                                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512">
                                    <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
                                    <path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/>
                                </svg>
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </section>

    <section class="notes-ready">
        <div class="to-do-list-ready">
            <h2>Done todos</h2>
            <table class="table-notes">
                <tbody class="table-body">
                <tr th:each="taskDone: ${tasksDone}">
                    <td th:text="*{taskDone.description}">todo text</td>
                    <td th:text="|Was up to  *{taskDone.dueDate}|">10-01-2024</td>
                    <td class="remove">
                        <form th:method="PATCH" th:action="@{/tasks/delete/(descr=${taskDone.id})}"
                              th:object="${taskDone}">
                            <button type="submit" title="Remove">
                                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512">
                                    <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
                                    <path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/>
                                </svg>
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

</div>

<footer>
    <p>&copy; 2024 Copyright: PE Scores</p>
</footer>

<script src="/js/notes.js"></script>

</body>

</html>